.checkout-info{
    margin-right: 100px;
    width:200%;
    font-family: 'Josefin Sans';

}

.continue-btn{
    border: 2px solid #FB2E86;
    padding: 10px;
    color: #FB2E86;
    background-color:white;
    margin-bottom:50px;
}

.shipping-title{
    margin-bottom: 20px;
    color:#FB2E86;
    
}