.featured-products {
    background-color: rgb(242, 199, 215);
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding: 1rem;
    margin: 1rem;
    flex: 1 0 30%;
    max-width: 2000px;
    height: 500px;
  }
  
  .image-grid {
    
    gap: 3rem;
    align-items: center;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
  }
  .outer-featured-container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem;
    margin: 0.5rem;
    flex: 1 0 30%;
    max-width: 1500px;
    height: 400px;
    align-items: center;
  }
  
  .featured-product-title {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: "Josefin Sans";
    font-size: 22px;
    font-weight: bold;
  }
  .featured-product-title1 {
    text-align: center;
    color: #000000;
    font-size: 50px;
    padding-bottom: 20px;
    font-family: "Josefin Sans";
    font-size: 22px;
    font-weight: bold;
  }
  
  .tile-container {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5% 30% 30% 30% 5%;
  }

  .tile-container_latest {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 30% 30%;
  }

  .tile-container_trending_products {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 30% 30%;
  }
  
  .featured-product-title {
    position: relative;
    bottom: 1.25rem;
  }
.carousel__arrow_carousel__arrow--right{

}
.carousel__arrow_carousel__arrow--left{

}
  
