
/* WHATS ON OFFER */

.offer-container {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


  @supports (display: grid) {
    .l-grid {

      color: white;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      padding: 3em;
    }
  

    .header {
      color: #151875;
      position: relative;
      left: 0em;
    }
    .header, .left-column, .center-column, .penultimate-column, .right-column {
      margin: 5px;
      padding: 30px;
      text-align: center;
      border-radius: 0.2em;
      
    }
    .header {

      grid-column-start: 1;
      grid-column-end: end;
    }
    .left-column {
      background: white;
      box-shadow:  rgb(0 0 0 / 24%) 0px 3px 8px;
    }
    .center-column {
      background: white;
      box-shadow:  rgb(0 0 0 / 24%) 0px 3px 8px;
    }
  
    .penultimate-column {
      background: white;
      box-shadow:  rgb(0 0 0 / 24%) 0px 3px 8px;    }
  
    .right-column {
      background: white;
      box-shadow:  rgb(0 0 0 / 24%) 0px 3px 8px;    }
  
    .columnfont {
      color: black;
      font-size: small;
      position: relative;
      top: 1em;
      padding-bottom:4em;
    }
  
    .columnheaderfont {
      color: darkblue;
      font-size: medium;
      position: relative;
      top: 0.5em;
    }
  
    #column1img {
      max-height: 2.5em;
    }
  
    #column2img {
      max-height: 2.5em;
    }
  
    #column3img {
      max-height: 2.5em;
    }
  
    #column4img {
      max-height: 2.5em;
    }
    #offertext {
      
      color: #151875;
      font-size: 35px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  }
 