/* WHATS ON OFFER */

.offer-container {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


  @supports (display: grid) {
    .l-grid {

      color: white;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      /* padding: 3em; */
    }
  

    .header {
      color: black;
      position: relative;
      left: 0em;
    }
    .header, .left-column, .center-column, .penultimate-column, .right-column {
      margin: 5px;
      padding: 30px;
      text-align: center;
      border-radius: 0.2em;
      
    }
    .header {

      grid-column-start: 1;
      grid-column-end: end;
    }

    
    .left-column {
      background: rgb(255, 161, 221);
      box-shadow:  rgba(0, 0, 0, 0.115) 0px 3px 8px;
    }
    .center-column {
      background: white;
      box-shadow:  rgba(0, 0, 0, 0.164) 0px 3px 8px;
    }
  
    .penultimate-column {
      background: white;
      box-shadow:  rgba(0, 0, 0, 0.164) 0px 3px 8px;
      }
  
    .right-column {
      background: white;
      box-shadow:  rgba(0, 0, 0, 0.164) 0px 3px 8px; 
     }
  

    .columnfont{
      color: black;
      font-size:medium;
      position: relative;
      top:1em;
      
     }
  
    .columnheaderfont {
      color: black;
      font-size: medium;
      position: relative;
      top: 0.5em;
    }
  
    #column1img {
      max-height: 2.5em;
    }
  
    #column2img {
      max-height: 2.5em;
    }
  
    #column3img {
      max-height: 2.5em;
    }
  
    #column4img {
      max-height: 2.5em;
    }
    #offertext {
      
      color: rgb(255, 143, 216);
      font-family: 'VT323', monospace;
      font-size: 80px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow:  2px 2px #FB2E86, 4px 4px rgb(157, 100, 255), 6px 6px rgb(255, 211, 90);
      /* font-size: 35px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  }
  }
 