
/* SLIDESHOW */
.slideshow-header {
    padding-right: 80em;
  }
  
  .slideshow {
    position: relative;
    margin: 4rem auto;
    overflow: hidden;
    width: 100%;
    height: 650px;
    z-index: 1;
  }
  
  .slideshowSlider {
    transition: ease 1000ms;
    height: 100%;
    display: flex;
    width: 300vw;
    background-color:black;
    /* transition-duration: 2s;  */
    z-index: 1;
    
  }


  
.slide {
  position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    width: 150%;
    border-radius: 40px;
    height: 100%;
    object-fit: contain;
    z-index: 999;

    object-position: center;
    object-fit: cover;
    
}

.controller-img{
  background:transparent;
  position: relative;
  height: 0%;
  width: 0%;

  margin:0;
  padding:0;
  
  left:40%;
  top:40%;
  z-index: 3;
}

.words-img{
  height:20px;
  width:200px;
}

  /* Buttons */
  
  .slideshowDots {
    text-align: center;
    position: relative;
    bottom: 2.4em;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 13px;
    width: 13px;
    cursor: pointer;
    margin: 10px 6px 0px;
    background-color: #fb2e86;
    position: relative;
    overflow: visible;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }
  
  /* .slideShow_img {
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
  } */

  .poster-btn{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1005;

    bottom: 50%;

    height: 70px;
    width: 280px;
    font-family: 'Josefin Sans';


    cursor: pointer;
    font-weight: 500;
    font-size: small;
    padding: 2px 20px;
    border-radius: 8px;

    border: #98104b;
    font-size: 40px;
    color: white;
    background: #fb2e86;
    box-shadow: 0px 3px #e02677;
    transition: all 0.25s ease;
    box-shadow: 0 0 0 1px 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 4px 0 0 rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);


    align-self: flex-end;

    transition: all 0.25s ease;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    transition: all 0.25s ease;

    opacity: 80%;


  }
  
  #slideButton1 {
    cursor: pointer;
    font-weight: 500;
    font-size: small;
    padding: 2px 20px;
    border-radius: 8px;
    max-height: 2em;
    border: #98104b;
    font-size: 25px;
    color: white;
    background: #fb2e86;
    box-shadow: 0px 3px #e02677;
    transition: all 0.25s ease;
    box-shadow: 0 0 0 1px 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 4px 0 0 rgba(0, 0, 0, 0.4), 0 4px 4px 1px rgba(0, 0, 0, 0.5);
    position: fixed;
    left:3.1em;
    bottom: 1.3em;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
    transition: all 0.25s ease;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    transition: all 0.25s ease;
  }
  
  .poster-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px #cf1263;
    z-index:1000;
    opacity: 1;
  }
  
  #buyNow {
    font-size: medium;
    /* position: relative;
        bottom: 0.3em; */
    position: relative;
    bottom: 0.15em;
    right: 0.65em;
    font-weight: 700;
  }
  


  #arrow {
    display:flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
    /* top: 0.25em; */
    height:50px;
    width:50px;
  }
  
  .posterText {
    position: fixed;
    left: 10em;
    top: 1.5em;
  }
  
  #headerPS4 {
    position: relative;
    top: 0.5em;
  }
  
  #subheaderPS4 {
    color: rgba(82, 80, 80, 0.38);
  }
  
  #header2PS4 {
    position: relative;
    top: 0.5em;
  }
  
  #subheaderTexts {
    position: relative;
    top: 2em;
  }
  
  #paragraphPS4 {
    font-weight: 300;
    color: rgb(123, 123, 123);
    font-size: small;
    position: relative;
    top: 0.6em;
  }
  
  #price {
    font-weight: 470;
    position: relative;
    top: 3em;
  }

  /* .controller-img{
    position: absolute;
    width: 650.75px;
    left: 860.46px;
    top: -28px;
    filter: drop-shadow(0px 13.6037px 13.6037px rgba(0, 0, 0, 0.25)) drop-shadow(0px 13.6037px 13.6037px rgba(0, 0, 0, 0.25));
    transform: rotate(-11deg)
 
  } */


  .slidewords-img{
    position: relative;
    right:24em;
    bottom:15.2em;
    transform:rotate(11deg);
    filter:none;
    

  }


  .poster-video{
    position: absolute;
    object-fit: cover;
    width: 150%;
    height:100%;
    z-index: -1;

    left:0;
    right:0;
    bottom:0;
    padding-bottom: 120px;
    background-color:rgb(38, 38, 38);
    /* backdrop-filter: blur(50px); */
  }

.poster-cover{
    position: absolute;

    width: 100%;
    height:calc(100% - 100px);
    backdrop-filter: blur(10px);
    z-index: 1;
}
.border-line{
  border: 2px solid rgb(155, 155, 155);
  background-color:transparent;
  color: transparent;
  width: 70%;

  position: relative;
  top: 15%;
  left:2%;
  height:550px;
  z-index: 1002;
  
}



.second-video{
  position: absolute;
  display:flex;
  align-items: center;
  object-fit: cover;
  width: 70%;
  height:550px;
  z-index: 999;
  top:60px;
}





