.featured-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.featured-tile {
  background-color: #fecede;
  border-radius: 30px;
  margin: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 9.62302px 22.7453px 64.7367px rgba(196, 196, 196, 0.34); */
  flex-direction: column;
  grid-template-rows: repeat(3, 1fr);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.featured-product-image {
  width: 75%;
  object-fit: contain;
  height: 125px;
  padding-bottom: 40px;
}

.featured-product-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.featured-product-title{
    position: relative;
    bottom: 1.25rem;
    font-size: 18px;
}
