.checkbox {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    
}

.checkbox-title {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 20px;
    text-transform: uppercase;
    
}

.reset-button {
   background-color: #FB2E86;
   /* background-color: #FECEDE; */
   color: white;
   border-radius: 10px;
   /* border-color: #FB2E86; */
   border: none;
   padding: 6.5px;
   font-size: 16px;
}

.reset-button:hover {
    background-color: rgb(194, 159, 255);
    transition: 0.5s;
}

.btn {
    padding: 1.5rem;
    margin-left: 10px;
}

.category-selection p {
    padding: 2px;
    margin-left: 5px;
}