.checkbox-title {
    margin: 5px;
}

.reset-button {
   background-color: #FB2E86;
   /* background-color: #FECEDE; */
   color: white;
   border-radius: 3px;
   /* border-color: #FB2E86; */
   border: none;
   padding: 6.5px;
}

.btn {
    padding: 1.5rem;
    margin-left: 1rem;
}