.p-title {
    padding: 20px 10px 0px;
}

.p-item {
    padding: 10px;
    margin: 10px;
    /* border-style: solid; */
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.15); */
    box-shadow: 0 7px 6px rgba(133, 132, 132, 0.15);
}

.p-list {
    list-style: none;
}