.search-box{
    border-style: solid;
    /* border-color: lightgray; */
    border: none;
    box-shadow: 3px 3px rgb(255, 143, 216), 6px 6px rgb(250, 188, 250), 9px 9px rgb(251, 229, 247);
    background-color: white;
    width: 500px;
    border-radius: 20px;
    padding-left: 5px;
    margin-bottom: 20px;
    
}

.search-element {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-icon {
    padding-left: 4px;
    /* padding-top: 5px; */
    margin-top: 6px;
}

.form-control {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding: 0.3rem;
    margin: 2px;
}

