/* WHATS ON OFFER */

  body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
   
  }
  @supports (display: grid)
   {
     .contact-grid {
       /* background: #ffffff; */
       color: white;
       display: grid;
       grid-template-columns:50% 50%;
       margin: 1em;


      }
    .contactleft-column2, contactright-column2 {
       margin: 5px;
       padding: 30px;
       text-align: start;
       border-radius: 0.2em;
     }
 
     .contactleft-column2 {
       background: white;
       box-shadow: 0 0 5px #e9e9e9;
       
     }

 
     .contactright-column2 {
       background: white;
       box-shadow: 0 0 5px #e9e9e9;
     }
     
     .contactcolumnfont2{
      color: black;
      font-size: small;
      position: relative;
      top:1em;
      
     }

     .contactcolumnheaderfont1{
      color:darkblue;
      font-size: medium;
      position: relative;
      top:0.5em;
      font-weight: 900;
      font-size:x-large;
      
     }
     .contactcolumnheaderfont2{
        color:darkblue;
        font-size: medium;
        position: relative;
        top:0.5em;
        
       }

       #list1{
        list-style: none;
        align-self: start;
        
       }

       #list2{
        list-style: none;
        align-self: start;
        
       }

       /* INNER GRID */
       * {
        box-sizing: border-box;
      }

      /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /* padding: 10px; */
    /* height: 300px; Should be removed. Only for demonstration */
  }
  

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }



  
}