.outer-featured-container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  /* box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5); */
  padding: 1rem;
  margin: 0.5rem;
  flex: 1 0 30%;
  /* margin: 0.3rem; Adds small margin around boxes ... can be kept or not */
  max-width: 1500px;
  height: 400px;
  align-items: center;
}

.featured-product-title {
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-family: 'Josefin Sans';font-size: 22px;
  font-weight: bold;
}
.featured-product-title1 {
  text-align: center;
  color: #000000;
  font-size: 50px;
  padding-bottom: 20px;
  font-family: 'Josefin Sans';font-size: 22px;
  font-weight: bold;
}


.tile-container {
  display: grid;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  grid-template-columns: 33% 33% 33%;


  /* flex-direction: column; */
}

/* .featured-tile{
    background-color: pink;
    border-radius: 10px;
    margin: 10px;
    height: 20rem;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9.62302px 22.7453px 64.7367px rgba(196, 196, 196, 0.34);
    flex-direction: column;    
} */

.featured-product-title {
  position: relative;
  bottom: 1.25rem;
}
