* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FB2E86;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f44e96;
}